<head>
    <title>About</title>
</head>
<body>
<section id="about-me">
      <div class="jumbotron withbg">
      <h1 class="display-4">About</h1>
      <p class="lead">Hi, I am D<br/>
       Want to know me..</p>
      <!-- <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

  <!-- <div class="my-container">
    <h2>About</h2>
    <img src="assets/images/download.jpg" alt="Natsu Dragnell" width="20%"/>
    <p>Hi, I am D<br/>
       Want to know me.
    </p>
   -->
  </div>
  
</section>
</body>