.jumbotron .display-4{
  text-shadow: 5px 5px 10px aqua;
  font-style: italic;
  color: aqua;
}
.jumbotron .lead{

  text-decoration: underline;
  text-decoration-style: solid ;
  text-decoration-color: aqua ;
  color: aqua;
  font-style: italic;
}

ul.no-bullet{
  list-style-type: none;
  padding: 0;
  width: 200px;
  
}

.no-bullet li{
  border: 2px solid black;
  border-bottom: none ;
}

.no-bullet li:last-child{
  border-bottom: 2px solid black;
}
.no-bullet li a{
  color: black;
  display: block;
  background-color: #f1f1f1;
  text-align: center;
}

.no-bullet li a:hover:not(.active){
  color: white;
  background-color: black;
}

.no-bullet li a:active{
  color: white;
  background-color: greenyellow;
}
.withbg{
  background-image:url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
